@import url("app.scss");

body {
    max-width: 575px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
        0deg,
        #012845 -21.9%,
        #003454 1.59%,
        #294e7a 18.1%,
        #5a4e7c 35.24%,
        #a65172 53.02%,
        #d86878 66.99%,
        #f9a46b 83.49%,
        #f9bd79 100%
    );
}

.table {
    display: none;
}

#root {
    width: 100%;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
